<p>service-providers works!</p>
<div class="tabel--css">
    <div class="table--filter">
        <div class="left-filter">
            <span>Entries</span>
            <select  class="form-control">
                <option selected>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
              </select>
        </div>
        <div class="right-filter">
            <input  class="form-control" placeholder="Search Residents... " />
            <select  class="form-control">
                <option selected>Select Residents</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
              </select>
        </div>
    </div>
    <table class="table">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>