<div class="row">
    <div class="col-lg-6 mb-4">
       <div class="card">
          <div class="text--dash">
              <div class="left-dashboard">
                <h3 class="text-primary">Congratulations {{ title }}</h3>
                <p>You have done 72% more sales today. Check your new badge in your profile.</p>
              </div>
              <div class="right-dashboard">
                  <img src="assets/img/man-with-laptop-light.png" alt="">
              </div>
          </div>
       </div>
    </div>
    <div class="col-lg-2 mb-4">
        <div class="card">
            <img src="assets/img/wallet-info.png" width="40px" alt="">
            <h3 class="mb-0">Order</h3>
            <h1>276k</h1>
        </div>
    </div>
    <div class="col-lg-2 mb-4">
        <div class="card">
            <img src="assets/img/wallet-info.png" width="40px" alt="">
            <h3 class="mb-0">Order</h3>
            <h1>276k</h1>
        </div>
    </div>
    <div class="col-lg-2 mb-4">
        <div class="card">
            <img src="assets/img/wallet-info.png" width="40px" alt="">
            <h3 class="mb-0">Order</h3>
            <h1>276k</h1>
        </div>
    </div>
    <div class="col-lg-8 mb-4">
        <div class="card">
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sapiente autem facere porro itaque iusto aperiam mollitia quasi nobis ad dignissimos enim minima fuga nulla deserunt pariatur exercitationem, debitis velit.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img src="assets/img/wallet-info.png" width="40px" alt="">
                    <h3 class="mb-0">Order</h3>
                    <h1>276k</h1>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img src="assets/img/wallet-info.png" width="40px" alt="">
                    <h3 class="mb-0">Order</h3>
                    <h1>276k</h1>
                </div>
            </div>
            <div class="col-lg-12 mb-4">
                <div class="card">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere qui soluta ad, natus necessitatibus, provident maiores voluptates amet labore quas nesciunt distinctio alias non, placeat veritatis ipsam quasi debitis pariatur!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere qui soluta ad, natus necessitatibus, provident maiores voluptates amet labore quas nesciunt distinctio alias non, placeat veritatis ipsam quasi debitis pariatur!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabel--css">
    <div class="table--filter">
        <div class="left-filter">
            <span>Entries</span>
            <select  class="form-control">
                <option selected>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
              </select>
        </div>
        <div class="right-filter">
            <input  class="form-control" placeholder="Search Residents... " />
            <select  class="form-control">
                <option selected>Select Residents</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
              </select>
        </div>
    </div>
    <table class="table">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
